@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-display: swap;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(145deg, #242933 0%, #101216 100%);
}

#log,
#inp,
button {
  border-top: 0.1vmax solid rgba(255, 255, 255, 0.08);
  border-left: 0.1vmax solid rgba(255, 255, 255, 0.05);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.03);
  font-family: 'Pretendard';
}

#log,
#inp {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#inp::-webkit-scrollbar {
  display: none;
}

#log::-webkit-scrollbar {
  display: none;
}

#log {
  width: 40vmax;
  height: 40vmax;
  font-size: 1.5em;
  color: #E0E6ED;
  padding: 1em;
}

#container {
  width: 20vmax;
  height: 20vmax;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#inp {
  width: 90%;
  height: 60%;
  display: flex;
  align-items: end;
  padding: 1em;
  font-size: 1.5em;
  resize: none;
  border-bottom: none;
  border-right: none;
  color: #E0E6ED;
  outline: none;
}

#btn-container {
  display: flex;
  width: 90%;
  height: 20%;
  justify-content: space-evenly;
}

button {
  height: 70%;
  width: 30%;
  border-bottom: none;
  border-right: none;
  color: #E0E6ED;
  font-size: 1.1em;
  transition: all 0.1s ease;
}

button:hover {
  background: #3a4556;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

button:active {
  background-color: #334155;
  transform: scale(0.96);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}